@font-face {
  font-family: "avenir";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-thin";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Thin.otf");
}

@font-face {
  font-family: "avenir-light";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Light.otf");
}

@font-face {
  font-family: "avenir-med";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Medium.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir-bolder";
  src: url("../Assets/GlobalFont/AvenirNextProLT/AvenirNextLTPro-Heavy.otf");
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  background-color: #323232;
  height: 80px;
  color: #ffffff;
  text-align: center;
  padding-top: 1rem;
}

.header__logo {
  padding-bottom: 1rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir-demi";
}

.header__nav-inventory, .header__nav-location {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.product {
  margin: 1rem;
}

.product__header-title {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
  color: #323232;
}

.product__header-stock {
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi";
  color: #ffffff;
  background-color: #3b913b;
  padding: 0.2rem 1.5rem;
  border-radius: 4px;
}

.product__description-title {
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi";
  color: #afafaf;
}

.product__description-description {
  font-size: 12px;
  line-height: 20px;
  line-height: 1rem;
  margin-bottom: 2rem;
  color: #323232;
}

.product__info-order-title, .product__info-ref-title, .product__info-last-title, .product__info-location-title, .product__info-qty-title, .product__info-category-title {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-family: "avenir-demi";
  color: #afafaf;
  line-height: 1rem;
}

.product__info-order-value, .product__info-ref-value, .product__info-last-value, .product__info-location-value, .product__info-qty-value, .product__info-category-value {
  margin: 1rem 0 1rem 0;
  font-size: 12px;
  line-height: 20px;
  font-size: 0.8rem;
  color: #323232;
  line-height: 1rem;
  font-size: 0.7rem;
}

.product__info-category-value {
  margin-right: 3.375rem;
}

body {
  font-family: "avenir";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=index.css.map */