@import "./_partials/colors";
@import "./_partials/fonts";
@import "./_partials/typography";
@import "./_partials/breakpoints";
@import "./_partials/header";
@import "./_partials/productSummary";

body {
  font-family: "avenir";
  box-sizing: border-box;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
