@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/typography";
@import "./partials/breakpoints";
@import "./partials/button";
@import "./partials/input";
@import "./partials/header";
@import "./partials/createNew";
@import "./partials/productSummary";
@import "./partials/locations";

body {
  font-family: "avenir";
  box-sizing: border-box;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
