.modal {
  margin: 0 0.5rem 0 0.5rem;
  &__title {
    margin: 2rem 0 2rem 0;
    @include header;
    font-family: "avenir-bold";
  }
  &__sub-title {
    @include labels-m;
    font-family: "avenir-demi";
    color: $silver;
    margin: 1.5rem 0 0.5rem 0;
  }
  &__switch-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include tablet {
  .modal {
    margin: 0 3rem 1.25rem 3rem;
    &__title {
      margin: 2.25rem 0 1.5rem 0;
    }
    input {
      width: 13.75rem;
    }
    textarea {
      width: 30rem;
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      flex: 1;
      &-left {
        flex: 0.45833;
      }
      &-right {
        flex: 0.45833;
      }
    }
    &__btns {
      display: flex;
      justify-content: flex-end;
    }
    &__cancel-btn {
      margin-top: 2.5rem;
      order: -1;
      flex: 0.333333;
    }
    &__save-btn {
      flex: 0.333333;
    }
  }
}
