.styles_closeButton__20ID4 {
  display: none;
}
.inventory {
  margin: 0 5%;
  &__head {
    display: flex;
    flex-direction: column;
  }
  &__head--form {
    flex: 0.27637;
  }
  &__head--title {
    margin-top: 32px;
    margin-bottom: 0;
    font-family: "avenir-bold";
    @include header-m;
    color: $black;
  }
  &__head--search {
    margin-top: 16px;
    height: 50px;
    width: 90%;
    margin-bottom: 0;
    background-image: url("../Assets/Icons/SVG/Icon-search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    padding-left: 2.5rem;
    border-radius: 4px;
    border: 1.5px solid $mercury;
    background-color: $alabaster;
  }
  &__title {
    display: none;
  }
  &__main {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid $silver;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  &__maincontent {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  &__information {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  &__item--title {
    font-family: "avenir-demi";
    @include lists-m;
    color: $silver;
    margin-top: 32px;
    margin-bottom: 0;
  }
  &__item--name {
    font-family: "avenir-demi";
    @include lists-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__item--description {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &__lastorder {
    font-family: "avenir-demi";
    @include lists-m;
    color: $silver;
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__lastorder--date {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__location {
    @include lists-m;
    color: $silver;
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__location--info {
    display: flex;
    flex-direction: row;
  }
  &__location--city {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__location--country {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 0.3rem;
  }
  &__quantity {
    @include lists-m;
    color: $silver;
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__quantity--value {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__status {
    @include lists-m;
    color: $silver;
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__status--display {
    font-family: "avenir-light";
    @include labels-m;
    color: $black;
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__remove {
    width: 10%;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  &__additem {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    background-image: url("../Assets/Icons/SVG/Icon-add.svg");
    background-repeat: no-repeat;
    background-position: 1.1rem;
  }
}

@include tablet {
  .inventory {
    margin: 0 3.125%;

    &__removeTooltip {
      float: right;
      position: fixed;
      display: flex;
      left: 83%;
      top: 37%;
      background-color: white;
      padding: 0.5rem 1rem;
      border: 1px solid $black;
      width: 7rem;
      height: 3rem;
      justify-content: center;
      align-items: center;
    }

    &__head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0;
      margin-bottom: 2rem;
    }
    &__head--title {
      font-family: "avenir-bold";
      @include header;
      margin-top: 1rem;
      color: $black;
    }
    &__head--search {
      margin-top: 16px;
      height: 40px;
      width: 100%;
      background-image: url("../Assets/Icons/SVG/Icon-search.svg");
      background-repeat: no-repeat;
      background-position: 1rem;
      padding-left: 2.5rem;
      border-radius: 4px;
      border: 1.5px solid $mercury;
      background-color: $alabaster;
    }
    &__main {
      padding-bottom: 0;
    }
    &__top {
      display: flex;
      flex-direction: row;
    }
    &__title {
      width: 90%;
      display: flex;
      flex-direction: row;
    }
    &__title--item {
      width: 36%;
      font-family: "avenir-demi";
      @include labels;
      color: $silver;
      margin: 0;
    }
    &__title--lastorder,
    &__title--location,
    &__title--quantity,
    &__title--status {
      width: 18%;
      margin: 0 0 0 3.125%;
      font-family: "avenir-demi";
      @include labels;
      color: $silver;
    }
    &__title--space {
      width: 10%;
    }
    &__main {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $silver;
    }
    &__maincontent {
      display: flex;
      flex-direction: column;
      height: 100px;
    }
    &__information {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      width: 90%;
      justify-content: space-between;
    }
    &__item--title,
    &__lastorder,
    &__location,
    &__quantity,
    &__status {
      display: none;
      font-family: "avenir-demi";
      @include lists;
      color: $silver;
      margin-top: 0;
    }
    &__item {
      width: 36%;
      display: flex;
      flex-direction: column;
    }
    &__item--name {
      font-family: "avenir-demi";
      @include lists;
      color: $black;
      margin-top: 0;
    }
    &__item--description {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      margin-top: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &__lastorder--date,
    &__location--info,
    &__quantity--value,
    &__status--display {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      width: 18%;
      margin: 0 0 0 3.125%;
      padding-top: 15px;
    }
    &__location--city,
    &__location--country {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      margin-top: 0;
    }
    &__additem {
      width: 60px;
      height: 60px;
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      border-radius: 50%;
      background-image: url("../Assets/Icons/SVG/Icon-add.svg");
      background-repeat: no-repeat;
      background-position: 1.1rem;
    }
  }
}

@include desk {
  .inventory {
    margin: 0 12.5%;
    &__head {
      display: flex;
      flex-direction: row;
      margin: 48px 0;
    }
    &__head--form {
      flex: 0.27637;
    }
    &__head--title {
      margin: 0;
      font-family: "avenir-bold";
      @include header;
      color: $black;
    }
    &__head--search {
      margin-top: 0;
      height: 48px;
      width: 100%;
      background-image: url("../Assets/Icons/SVG/Icon-search.svg");
      background-repeat: no-repeat;
      background-position: 1rem;
      padding-left: 2.5rem;
      border-radius: 4px;
      border: 1.5px solid $mercury;
      background-color: $alabaster;
    }
    &__main {
      padding-bottom: 0;
    }
    &__top {
      display: flex;
      flex-direction: row;
    }
    &__title {
      width: 90%;
      display: flex;
      flex-direction: row;
    }
    &__title--item {
      width: 36%;
      font-family: "avenir-demi";
      @include labels;
      color: $silver;
      margin: 0;
    }
    &__title--lastorder,
    &__title--location,
    &__title--quantity,
    &__title--status {
      width: 18%;
      margin: 0 0 0 3.125%;
      font-family: "avenir-demi";
      @include labels;
      color: $silver;
    }
    &__title--space {
      width: 10%;
    }
    &__main {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $silver;
    }
    &__maincontent {
      display: flex;
      flex-direction: column;
      height: 100px;
    }
    &__information {
      display: flex;
      flex-direction: row;
      margin: 24px 0;
      width: 90%;
      justify-content: space-between;
    }
    &__item--title,
    &__lastorder,
    &__location,
    &__quantity,
    &__status {
      display: none;
      font-family: "avenir-demi";
      @include lists;
      color: $silver;
      margin-top: 0;
    }
    &__item {
      width: 36%;
      display: flex;
      flex-direction: column;
    }
    &__item--name {
      font-family: "avenir-demi";
      @include lists;
      color: $black;
      margin-top: 0;
    }
    &__item--description {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      margin-top: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    &__lastorder--date,
    &__location--info,
    &__quantity--value,
    &__status--display {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      width: 18%;
      margin: 0 0 0 3.125%;
      padding-top: 15px;
    }
    &__location--city,
    &__location--country {
      font-family: "avenir-light";
      @include labels;
      color: $black;
      margin-top: 0;
    }
    &__additem {
      width: 80px;
      height: 80px;
<<<<<<< HEAD
=======

>>>>>>> master
      position: fixed;
      bottom: 4rem;
      right: 16rem;
      border-radius: 50%;
      background-image: url("../Assets/Icons/SVG/Icon-add.svg");
      background-repeat: no-repeat;
      background-position: 1.6rem;
<<<<<<< HEAD
      background-position: 1.1rem;
=======
>>>>>>> master
    }
  }
}
