.inventory {
  margin: 0 5%;
  &__head {
    display: flex;
    flex-direction: column;
  }
  &__head--title {
    margin-top: 32px;
    font-family: "avenir-bold";
    @include header-2;
  }
  &__head--search {
    height: 40px;
    width: 90%;
  }
}
