//border-bottom:4px solid $white;

a {
  text-decoration: none;
  color: $white;
}
.header {
  background-color: $black;
  height: 80px;
  color: $white;
  text-align: center;
  padding-top: 1rem;
  &__logo {
    padding-bottom: 1rem;
  }
  &__nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    @include lists-m;
    font-family: "avenir-demi";
    &-inventory,
    &-location {
      flex: 0.5;
    }
  }
}

@include tablet {
  .header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    &__nav {
      display: flex;
      flex: 0.4;
      justify-content: flex-start;
      align-items: center;
    }
    &__logo {
      padding: 0;
      margin-right: 1.5rem;
    }
  }
}

@include desk {
  .header {
    padding: 0 11.25rem;
    &__nav {
      flex: 0.3;
    }
    &__logo {
      margin-right: 2rem;
    }
  }
}
